
/*Barra de navegacion*/
.navbar {
    padding: 2rem;
    background-color: #000000;
}

/*Barra de navegacion- colocar a la derecha*/
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/*es para el color de la barra al reducir*/
.navbar-toggler {
    background-color: #eeeeee;
}

/*color de las letras de navegacion*/
.nav-link {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
}

/*esconder el logo cuando se vuelve pequeño la web*/
@media screen and (max-width: 767px){
    .navbar-brand{
    display: none;
    }
}

/*es para el subrayado de las letras*/
.nav-link:hover {
    color: rgb(255, 138, 42);
    text-decoration: underline;
}

/*Estilos generales*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    color: #fdfdfd; /*color de titulo h1*/
}

/*Seccion 1*/
.hero{
    position: relative;
	background-attachment: fixed;
    height: 600px;
    text-align:center;
    overflow: hidden;
    z-index: 0;
}

.hero-principal{
    padding: 3rem;
}

.hero-principal video {
    width: 100%;
  	height: 100%;
    z-index: -100;
	position: absolute;
  	background-size: cover;
  	background-attachment: fixed;
}

@media (min-aspect-ratio: 16/9) {
	#portada-video {
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9) {
	#portada-video {
		width: auto;
		height: 100%;
	}
}

/*para la imagen de la seccion 1*/
.hero-imagen { 
    width: 200px;
    height: 200px;
    border-radius: 50%; /*imagen redondeado*/
    margin: 20px;
    /*si deseas colocar una clase redondeada en la imagen con rounded-circle*/
}

.hero-principal h1 {
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgba(0, 0, 0, 0.137);
}

/*para el susbtitulo del h2*/
.hero-principal h2 { 
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgba(0, 0, 0, 0.137);
}


/*Experiencia*/
.experiencia {
    padding: 40px;
}

/*Seccion clara*/
.seccion-clara {
    color: black;
    background-color: white;
}

.seccion-oscura {
    color: white;
    background-color: black;
}

.titulo-seccion {
    position: relative;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.ts-paralelogramo {
    background-color: #093b78;
    transform: skew(-50deg);
    margin: 0 20%;
    padding: 10px 0;
    position: relative;
    height: 100px;
}

.ts-titulo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0 35%;
    color: #ffffff;
    height: 100px;

}

.ts-titulo h1 {
    font-weight: 700;
    font-size: 34px;
    border-bottom: solid 1px #ffffff;
    margin-bottom: 15px;
}

.ts-titulo h3 {
    font-weight: 400;
    font-size: 20px;
}

.ts-descripcion {
    position: relative;
    margin: 20px 7.8%;
    color: #ffffff;
    font-weight: 600;
    transition: .5s;
    padding: 10px 10px 0 10px;
    border: 1px solid #84848400;
    border-radius: 5px;
    overflow: hidden;
}


@media screen and (max-width: 767px){
    .ts-paralelogramo {
        margin: 0;
        padding: 0;
    }

    .ts-titulo {
        padding: 0 20%;
    }
}


@media screen and (max-width: 670px){
    .ts-paralelogramo {
        background-color: #020529;
        transform: skew(-10deg);
        margin: 0 20px;
        padding: 0;
        border-radius: 10px;
    }

    .ts-titulo h1 {
        /* color: rgb(255, 138, 42); */
        /* text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 136, 0), 0 0 0.2em rgb(0, 0, 0); */
        color: rgb(42, 131, 255);
        text-shadow: 1px 1px 2px black, 0 0 1em rgb(0, 81, 255), 0 0 0.2em rgb(0, 0, 0);
        border-bottom: solid 1px #ffffff;
        padding-top: 4px;
    }
}


.ts-descripcion::before, .ts-descripcion::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
}

.ts-descripcion:hover::before {
    animation: animate .5s linear forwards;
    border-radius: 5px;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-top-color: #ffffff;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    50% {
        width: 100%;
        height: 0;
        border-top-color: #ffffff;
        border-right-color: #ffffff;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    100% {
        width: 100%;
        height: 100%;
        border-top-color: #ffffff;
        border-right-color: #ffffff;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}


.ts-descripcion:hover::after {
    animation: animate2 .5s linear forwards;
    border-radius: 5px;
}

@keyframes animate2 {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #ffffff;
    }

    50% {
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #ffffff;
        border-left-color: #ffffff;
    }

    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #ffffff;
        border-left-color: #ffffff;
    }
}


.ts-descripcion p {
    font-size: 16px;
}



.productos-fila {
    justify-content: center; /* Centra todos los elementos que hay dentro de una div */
}

.prueba {
    width: 280px;
    margin-bottom: 20px;
    overflow: hidden;
    padding-top: 20px;
}

.card {
    overflow: hidden;
    /*border-radius: 15px;*/
    border-radius: 5px;
    border: solid 5px #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 30px rgb(10 10 10 / 10%);
    margin-bottom: 20px;
    transition: transform .2s; /* Animacion de zoom */
}

.card-image {
    height: 235px;
    overflow: hidden;
}

.card-title {
    font-weight: 600;
    font-size: 13px;
    color: #646464;
    transition: .5s;
    padding: 2px 0;
    border-bottom: 2px solid #ffffff;
}

.card:hover {
    transform: scale(1.04);
}

.card:hover .card-title {
    color: #000000;
    border-bottom: 2px solid #000000;
}


/* [Card foot] */
.card-foot {
    padding-bottom: 15px;
}

.card-foot i {
    border-radius: 50%;
    background-color: rgb(0, 207, 0);
    color: #FFFFFF;
    padding: 5px;
    margin-left: 5px;
    transition: .3s;
}

.card-link1, .card-link2 {
    text-decoration: none; /* Desabilitar el subrayado de los textos */
    width: 100% !important;
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    color: #000000;
    transition: .3s;
}

.card-link1:hover, .card-link2:hover {
    color: rgb(255, 115, 0);
}

.card-link2:hover i {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 207, 0);
    margin-left: 0;
    font-weight: 800;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card-link2 img {
    width: 20px;
    height: 20px;
}
/* [Card foot] */



/*Colocar imagen en la parte de abajo, para que se vea texto e imagen sobre la misma linea*/
img {
    vertical-align: text-bottom;
}
/**/

/*color de fondo de los productos*/
#productos {
    background-color: #15151c;
    background-size: 100%;
    background-position: 45%;
}







/*Seccion Servicios*/

#servicios {
    background-color: #15151c;
}

.panel {
    overflow: hidden;
    position: relative;
    margin: 0;
    width: 100%;
    display: inline-flex;  /* Alinear elementos de un div de forma horizontal */
}

.change-order {
    display: none;
}

.panel .panel-info-left,
.panel .panel-info-right {
    position: relative;
    color: #FFFFFF;
    height: 400px;
    margin: 0;
    padding: 0;
    width: 40%;
}

.panel .panel-info-right h2,
.panel .panel-info-left h2
 {
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 30px;
}

.panel .panel-info-right p,
.panel .panel-info-left p {
    font-weight: 600;
    margin-bottom: 20px;
}

.panel .panel-info-right a,
.panel .panel-info-left a {
    color: rgb(255, 102, 0);
    font-weight: 700;
    background: linear-gradient(to right, rgb(255, 138, 42), rgb(255, 138, 42), #242430, #242430);
    background-size: 300%;
    background-position: right;
    transition: .3s ease-in;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.panel .panel-info-right a:hover,
.panel .panel-info-left a:hover {
    background-position: left;
    color: #000000;
}


.panel .panel-info-right .text-content,
.panel .panel-info-left .text-content {
    position: absolute;
    bottom: 0;
    padding: 30px 40px;
}

.panel .panel-img {
    position: relative;
    height: 400px;
    padding: 0;
    overflow: hidden;
    background-image: url(../assets/servicio.webp);
    background-size: cover;
    background-position: center;
    width: 60%;
}

.panel .panel-img img {
    width: 100%;
    display: inline;
}



@media screen and (max-width: 900px){
    .change-order {
        display: block;
    }

    .panel {
        display: inline-block;
    }

    .panel .panel-info-left .text-content,
    .panel .panel-info-right .text-content {
        padding: 0 0 10px 0;
    }

    .hide {
        display: none;
    }
}


@media screen and (max-width: 520px){
    .panel .panel-img-first,
    .panel .panel-img-second,
    .panel .panel-img-third,
    .panel .panel-img-fourth {
        height: 300px;
    }
}

@media screen and (max-width: 400px){
    .panel .panel-img-first,
    .panel .panel-img-second,
    .panel .panel-img-third,
    .panel .panel-img-fourth {
        height: 240px;
    }
}

@media screen and (max-width: 960px){
    .panel .panel-info .text-content {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 760px){
    .panel .panel-info .text-content {
        padding: 30px 10px;
    }
}

@media screen and (max-width: 684px){
    .panel .panel-info .text-content {
        padding: 30px 0;
    }
}

/* [Contacto] */
.contacto {
    padding: 100px 0;
}

.contact-column img {
    width: 100%;
    margin-bottom: 20px;
}

.social i {
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    color: #FFFFFF;
    margin-right: 5px;
    transition: .3s;
    padding: 10px;
    width: 36px;
    text-align: center;
}

.contact-column h4 {
    width: 100%;
    font-weight: 700;
}

.contact-column h5 {
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    color: #ABABAB;
    padding-top: 40px;
}

.contact-column p {
    padding: 0;
    margin: 0;
}

.contact-column a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #ABABAB;
    transition: .3s;
}

.contact-column a:hover {
    color: #FFFFFF;
}

.contacto button {
    color: #FFFFFF;
    background-color: #000000;
    border: none;
    text-decoration: none !important;
    
}
